// code CHI HA
// HEADER
$font-size: 16px;
$text-color: #333;
$a-color: #fff;
$a-color-hover: #d12a2a;
$a-dropdown: #a4a4a4;
$bg-dropdown: #101010;
$border-dropdown: #212121;
$bg-text: #b5b5b5;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: $font-size;
    font-family: 'Montserrat', sans-serif;
}

.banner {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
    &_bg-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    &_text {
        color: $bg-text;
        font-size: 48px;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 62px;
        margin-bottom: 60px;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            width: 26.5%;
            height: 2px;
            bottom: 0;
            left: 37%;
            background-color: $bg-text;
        }
    }
    &_play {
        >a {
            >img {
                position: absolute;
                left: 50%;
                transform: translate(-50%);
            }
        }
    }
    &_scroll {
        color: $a-color;
        font-size: 40px;
        >a {
            text-decoration: none;
            >img {
                position: absolute;
                left: 50%;
                transform: translate(-50%);
                bottom: 40px;
            }
        }
    }
}

.navbar {
    padding: 0;
    margin-top: 18px;
    margin-bottom: 250px;
    &-brand {
        padding: 0;
        margin-right: 165px;
    }
    &-collapse {
        position: relative;
        >ul {
            margin-right: 20px;
            .nav-item {
                position: relative;
                &:after {
                    position: absolute;
                    content: "";
                    display: block;
                    bottom: 0;
                    left: 25%;
                    width: 0;
                    height: 1px;
                    background-color: $a-color-hover;
                    transition: width 0.5s ease;
                }
                &:hover:after {
                    width: 50%;
                }
                .nav-link {
                    color: $a-color;
                    font-weight: 500;
                    padding: 10px 19px !important;
                    position: relative;
                    &:hover {
                        color: $a-color-hover;
                        font-weight: 600;
                    }
                }
            }
            .active {
                color: $a-color-hover;
                font-weight: 600;
            }
            .dropdown {
                position: relative;
                margin-top: 0;
                .fa-angle-down {
                    margin-left: 5px;
                    &:hover {
                        font-weight: 700;
                    }
                }
                &:hover .dropdown-menu {
                    display: block;
                }
                &:hover {
                    &:after {
                        width: 0;
                    }
                }
                &-menu {
                    display: none;
                    left: -50%;
                    background-color: $bg-dropdown;
                    margin: 0;
                    padding: 0;
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        top: -8px;
                        left: 50%;
                        transform: translate(-50%);
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        border-bottom: 8px solid $a-color-hover;
                    }
                    >a {
                        padding: 16px 145px 17px 15px !important;
                        color: $a-dropdown;
                        border-top: 1px solid $border-dropdown;
                        &:first-child {
                            border-top: 2px solid $a-color-hover;
                        }
                        &:hover {
                            color: $a-color-hover;
                            font-weight: 600;
                            background-color: $bg-dropdown;
                        }
                    }
                }
            }
        }
    }
    &_search {
        position: relative;
        &-form {
            min-width: 223px;
            position: absolute;
            top: 30px;
            right: 0;
        }
        &-btn {
            padding: 0;
            position: relative;
            background-color: transparent;
            border: none;
            &:focus {
                outline: none;
                box-shadow: 0 0;
            }
            &:hover .my-search_form {
                /* display: block !important; */
            }
            .fa-search {
                color: $a-color;
                font-size: 16px;
                &:focus {
                    outline: 0;
                }
            }
        }
        &-input {
            max-width: 200px;
            max-height: 30px;
        }
    }
    /* 	&_hidden-search {
		display: none;
	}
	&_show-search {
		display: block;
	} */
    &_lang {
        margin: 0 !important;
        li {
            list-style: none;
            margin-left: 12px;
            &:first-child {
                margin-left: 25px;
            }
            a {
                padding: 0 !important;
            }
        }
    }
}

// HEADER END
// CODE CHI HA END
// CONG KIEN NAM
// CSS
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.w-100 {
    width: 100% !important;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1600px;
    margin: 0 auto;
}


/*main-top*/

.main_top {
    height: 524px;
    background-color: #ffffff;
}

.main_top h4 {
    padding-top: 74px;
    color: #222222;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.main_top h6 {
    padding-top: 14px;
    font-size: 16px;
    text-transform: uppercase;
    color: #808080;
    font-weight: 300;
    text-align: center;
}

.main_top p {
    padding-top: 40px;
    font-size: 16;
    font-weight: 500;
    text-align: center;
}

.main_top .link {
    padding-top: 56px;
    text-align: center;
}

.main_top a {
    padding: 15px 36px;
    font-weight: 600;
    border: 1px solid #222222;
    color: #222222;
    text-decoration: none;
    transition: all 0.7s ease;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
}


/*main-between*/

.tab {
    height: 1515px;
    background-color: #101010;
}

.tab_title {
    padding-top: 75px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
    color: #ffffff;
    text-align: center;
}

.tab_menu {
    padding-top: 55px;
    justify-content: center;
    display: flex;
}

.tab_menu a {
    padding: 16px 45px;
    margin-right: 20px;
    border: 2px solid #262626;
    color: #5d5d61;
    text-decoration: none;
    transition: all 0.7s ease;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
}

.tab_menu a:hover,
.tab_menu a.active {
    color: #ffffff;
    background-color: #101010;
    border: 2px solid #ffffff;
}

.tab_image {
    padding-top: 55px;
}

.tab_image .tab_image_item {
    position: relative;
    display: flex;
    width: 25%;
}

.tab_image .tab_image_item:before {
    content: "";
    display: block;
    padding-bottom: 63%;
}

.tab_image .tab_image_item>div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

// Hoang code bo sung
// .tab_image .tab_image_item {
//     position: absolute;
//     &>a {
//         &:hover {
//             opacity: 0.7;
//         }
//         &>image {
//             z-index: 2;
//         }
//     }
// }
// .tab_image .tab_image_item>iframe {
//     z-index: 2;
//     width: 100%;
//     object-fit: cover;
// }
// >h3 {
//     position: absolute;
//     z-index: 2;
//     >a {
//         text-decoration: none;
//         display: none;
//         &:hover {
//             display: block;
//             font-size: 16px;
//             color: #fff;
//         }
//     }
// }
// .tab_image .tab_image_item>h3:hover {}
// Hoang end
.tab_image .row>div:first-child>div {
    background-image: url(../images/pictures/qc-nuocngot.png);
}

.tab_image .row>div:nth-child(2)>div {
    background-image: url(../images/pictures/tiger-bia.png);
}

.tab_image .row>div:nth-child(3)>div {
    background-image: url(../images/pictures/bia-heineiken.png);
}

.tab_image .row>div:nth-child(4)>div {
    background-image: url(../images/pictures/qc-trungthu.png);
}

.tab_image .row>div:nth-child(5)>div {
    background-image: url(../images/pictures/qc-daugoidau-clear.png);
}

.tab_image .row>div:nth-child(6)>div {
    background-image: url(../images/pictures/qc-pepsi.png);
}

.tab_image .row>div:nth-child(7)>div {
    background-image: url(../images/pictures/qc-bia-VietHa.png);
}

.tab_image .row>div:nth-child(8)>div {
    background-image: url(../images/pictures/qc-DrThanh.png);
}

.tab_image .row>div:nth-child(9)>div {
    background-image: url(../images/pictures/cooking.png);
}

.tab_image .row>div:nth-child(10)>div {
    background-image: url(../images/pictures/man-smiles.png);
}

.tab_image .row>div:nth-child(11)>div {
    background-image: url(../images/pictures/car.png);
}

.tab_image .row>div:nth-child(12)>div {
    background-image: url(../images/pictures/tivi-4k.png);
}

.tab_image .row>div:nth-child(13)>div {
    background-image: url(../images/pictures/3girls.png);
}

.tab_image .row>div:nth-child(14)>div {
    background-image: url(../images/pictures/qc-xemay.png);
}

.tab_image .row>div:nth-child(15)>div {
    background-image: url(../images/pictures/th-truemilk.png);
}

.tab_image .row>div:last-child>div {
    background-image: url(../images/pictures/dau-an.png);
}


/*main-bottom*/

.main_bottom {
    color: #ffffff;
    height: 357px;
}

.main_bottom h4 {
    color: #222222;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    padding-top: 73px;
}

.main_bottom_logo {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.main_bottom .main_bottom_logo a img {
    width: 180px;
    height: 100px;
    padding: 22px 17px;
    margin-right: 20px;
    border: 1px solid #e7ebee;
    border-radius: 5px;
}

.main_bottom .main_bottom_logo a img:hover,
.main_bottom .main_bottom_logo a img.active {
    border: 1px solid #d12a2a;
}


/*Footer*/

.footer {
    height: 313px;
}

.footer_top {
    position: relative;
    width: 100%;
    background-color: #2a2a2a;
    color: #ffffff;
}

.footer_top img {
    width: 100%;
}

.footer_top h4 {
    position: absolute;
    width: 100%;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    top: 56px;
}

.footer_top p:first-of-type {
    position: absolute;
    width: 100%;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    color: #fff;
    bottom: 136px;
}

.footer_top p:nth-of-type(2) {
    position: absolute;
    width: 100%;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    color: #fff;
    bottom: 96px;
}

.footer_top p:last-of-type {
    position: absolute;
    width: 100%;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    color: #fff;
    bottom: 57px;
}


/*-----------------------------------*/

.footer_bottom {
    height: 60px;
    background-color: #2a2a2a;
    display: flex;
    align-items: center;
}

.footer_bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_bottom h4 {
    color: #ffffff;
    font-size: 13px;
    padding-top: 10px;
}

.footer_bottom .social>ul {
    display: flex;
    margin-bottom: 0;
}

.footer_bottom .social>ul li {
    margin-left: 5px;
    list-style: none;
}

.footer_bottom .social>ul li a {
    padding: 7px 10px;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.footer_bottom .social>ul li a:hover,
.footer_bottom .social>ul li a.active {
    color: #fff;
    border: 2px solid #ffffff;
}

.footer_bottom p {
    color: #ffffff;
    font-size: 13px;
    padding-top: 10px;
}

.footer_bottom p a {
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
}

.footer_bottom p a:hover {
    color: #d12a2a;
}

// CSS END (CONG KIEN NAM)
// SCSS (CONG KIEN NAM)
.tab_title {
    text-transform: uppercase;
}

// SCSS END (CONG KIEN NAM)
// CONG KIEN NAM END
// HOANG
// CUSTOMER
$border-hover: solid 1px #d12a2a;
.customer {
    &_title {
        margin-top: 80px;
        margin-bottom: 60px;
        h2 {
            color: #222222;
            font-size: 26px;
            font-weight: bold;
            margin-bottom: 60px;
        }
    }
    &_slide {
        height: 100px;
        width: 100%;
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .slide-item {
            height: 100%;
            padding: 10px;
            border: 1px solid #e7ebee;
            border-radius: 5px;
            width: 180px;
            margin: 0px 10px;
            >div {
                background-position: center;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        .slide-item:hover {
            border: $border-hover;
        }
        >div:first-child {
            margin-left: 0px;
        }
        >div:last-child {
            margin-right: 0px;
        }
        >div:first-child>div {
            background-image: url('../images/customer/1.png');
        }
        >div:nth-child(2)>div {
            background-image: url('../images/customer/2.png');
        }
        >div:nth-child(3)>div {
            background-image: url('../images/customer/3.png');
        }
        >div:nth-child(4)>div {
            background-image: url('../images/customer/4.png');
        }
        >div:nth-child(5)>div {
            background-image: url('../images/customer/5.png');
        }
        >div:last-child>div {
            background-image: url('../images/customer/6.png');
        }
        >div:nth-child(1)>div:hover {
            background-image: url('../images/customer_hover/1.png');
        }
        >div:nth-child(2)>div:hover {
            background-image: url('../images/customer_hover/2.png');
        }
        >div:nth-child(3)>div:hover {
            background-image: url('../images/customer_hover/3.png');
        }
        >div:nth-child(4)>div:hover {
            background-image: url('../images/customer_hover/4.png');
        }
        >div:nth-child(5)>div:hover {
            background-image: url('../images/customer_hover/5.png');
        }
        >div:last-child>div:hover {
            background-image: url('../images/customer_hover/6.png');
        }
    }
}

// CUSTOMER END
// HOANG END